package views

templ Error() {
<div class="grid h-screen place-content-center bg-white px-4">
	<h1 class="uppercase text-center text-lg tracking-widest text-gray-900">404 | Not Found</h1>
	<a href="/" class="btn mt-8">Go Home</a>
</div>
}
