package views

import (
	"app/templates/components/global"
)

templ Shipping() {
	@global.PageHeader("Shipping To ZR1", templ.Attributes{"style": "background-image: url(/static/images/backgrounds/services_bg.jpg)"})
}
